.SidebarMenuItem {
	@apply w-[calc(100%-0.5rem)] px-4 py-4;
	@apply flex items-center gap-2;
	border-radius: 0 2rem 2rem 0;
	transition: all var(--transition);

	.Icon {
		@apply grow-0 shrink-0;
		@apply text-stone-600;
	}

	.Label {
		@apply grow shrink overflow-hidden;
		@apply text-stone-600 font-medium text-[0.925em];
	}

	.Spinner {
		@apply grow-0 shrink-0;
		@apply ml-auto;
	}

	&:hover {
		@apply bg-stone-100;
	}

	&:active {
		@apply opacity-70;
	}

	&.Active {
		@apply bg-rose-50;
		box-shadow: inset 4px 0 0 var(--color-primary);

		.Icon {
			color: var(--color-primary);
		}

		.Label {
			color: var(--color-primary);
		}
	}

} // .SidebarMenuItem