.GuestMenu {

	
	.MenuBadge {
		@apply h-12 py-1 pl-2 pr-1;
		@apply flex items-center gap-2;
		@apply rounded-[1.5rem] border border-stone-200;
		
		&:hover {
			@apply bg-stone-100;
		}
	
		&:active {
			@apply opacity-70;
		}

		.MenuIcon {
			@apply text-stone-600 text-xl;
		}

		.Label {
			@apply pr-2;
			@apply text-stone-700 text-sm font-semibold;
		}

	} // .MenuBadge

	.Dropdown {
		@apply min-w-[200px] py-2;
		@apply flex flex-col;
		@apply border border-stone-100;
		@apply bg-white rounded-lg drop-shadow-xl;

		.DropdownItem {
			@apply relative py-2 px-4;
			@apply flex items-center justify-between;
			@apply text-stone-700 text-[0.975em];

			&:hover {
				@apply bg-stone-100;
			}

			&:active {
				@apply bg-stone-200 opacity-70;
			}

			.DropdownItemIcon {
				@apply text-lg text-stone-700;
			}

			&.Active {
				@apply font-semibold;
				
				&::before {
					position: absolute;
					left: 0;
					content: "";
					width: 4px;
					height: 1.5rem;
					background-color: var(--color-primary);
				}

			}

		} // .DropdownItem

		.Separator {
			@apply w-full h-[1px] my-2;
			@apply bg-stone-100;
		} // .Separator

	} // .Dropdown

} // .GuestMenu