.ListingView {

	.Photos {
		@apply hidden;
	}

	.DesktopPhotos {
		@apply grid grid-cols-4 gap-1;
		grid-template-rows: 200px 200px;

		> button:first-child {
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 3;
		}

		button {
			@apply relative;

			img {
				@apply w-full h-full object-cover;
			}
		}

	}

	.ListingContent {
		@apply bg-stone-100;

		.TopSection {
			@apply px-6 mb-[1rem];
			@apply flex-row justify-between items-end;
			@apply border-b border-stone-200;
		}

		.ContentSection {
			@apply w-[calc(100%-400px)];
			@apply border-0 mx-[1rem] mb-[1rem] border-stone-100;
			@apply bg-white rounded-xl drop-shadow-sm;
		}

		.GallerySection {
			@apply hidden;
		}

		.FacilitiesSection {
			section .List {
				@apply grid-cols-4;
			}
		}

		.PolicySection {
			.PolicyHighlight {
				@apply grid-cols-2;
			}
		}

		.PricingSection {
			@apply hidden;
		}

		.ReserveSection {
			@apply hidden;
		}

	} // .ListingContent

} // .ListingView