@use "src/styles/mixins/scrollbar";

.ListingView {
	@apply w-full h-full overflow-x-hidden overflow-y-auto;
	@apply flex flex-col;

	.DesktopPhotos {
		@apply hidden;
	}

	.Photos {
		@apply relative w-full aspect-[3/2] grow-0 shrink-0;
		@apply min-h-[300px];

		.Swiper {
			@apply h-full;
			--swiper-pagination-top: auto;
			--swiper-pagination-bottom: 1rem;
			--swiper-theme-color: rgba(255, 255, 255, 0.75);
			--swiper-pagination-color: #fff;
			--swiper-pagination-bullet-inactive-color: #fff;

			.Slide {
				@apply h-full;

				img {
					@apply w-full h-full object-cover;
				}
			} // .Slide

		} // .Swiper

		.BackButton {
			@apply absolute top-4 left-4 z-[1500];
		} // .BackButton

	} // .Photos

	.ListingContent {
		@apply w-full min-h-full grow-0 shrink-0;
		@apply flex flex-col;
		@apply bg-white;

		.TopSection {
			@apply sticky top-0 z-[100];
			@apply flex flex-col;
			@apply bg-white;

			.TitleBar {
				@apply p-4 sticky top-0;
				@apply flex justify-between items-start gap-4;

				.Text {
					@apply grow shrink min-w-0;

					h1.Title {
						@apply min-h-[2.5rem] max-h-[10rem];
						@apply pt-2;
						@apply text-xl font-bold text-stone-700 leading-[1.3];
						transition: var(--transition-default);
					} // h1.Title
					
					.Info {
						@apply mt-1 leading-[1.4] overflow-hidden max-h-[10rem];
						@apply text-stone-500 font-medium;
						@apply opacity-100;
						transition: var(--transition-default);
					}
				} // .Text

				.Actions {
					@apply grow-0 shrink-0 min-w-0;
					@apply flex items-center gap-2;

					.Rating {
						@apply h-10 px-2;
						@apply flex items-center gap-1;
						@apply border border-stone-200 rounded-md;

						.Icon {
							@apply text-amber-400;
							font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
						} // .Icon

						.Value {
							@apply font-semibold text-stone-700;
						} // .Value

					} // .Rating

				} // .Actions

			} // .TitleBar

		} // .TopSection

		.ContentSection {
			@apply border-b-[12px] border-stone-100;
		} // .ContentSection

		.OverviewSection {
			@apply p-4 flex flex-col gap-4;

			.Badges {
				@apply flex items-center gap-2;

				.Badge {
					@apply basis-0 min-w-0 grow shrink;
					@apply flex flex-col;
					@apply p-2;
					@apply rounded-md border border-stone-200;

					.Value {
						@apply flex items-center gap-2;
						color: var(--color-primary);
						
						.Text {
							@apply text-lg font-bold text-stone-700;

							.Unit {
								@apply text-sm;
							}
						}

					} // .Value

					.Details {
						@apply text-sm font-semibold text-stone-600;
					}

				} // .Badge

			} // .Badges

			.Description {
				@apply p-4 flex flex-col gap-2;
				@apply rounded-md border border-stone-200;

				h3 {
					@apply font-semibold text-lg text-stone-800;
				}

				.Content {
					font-family: var(--font-serif);

					p {
						margin-bottom: 1rem;
					}

					p:last-child {
						margin-bottom: 0;
					}
				}
			} // .Description

		} // .OverviewSection

		.GallerySection {

			h3 {
				@apply pt-8 pl-8;
				@apply font-semibold text-lg text-stone-800;
			}

			.Gallery {
				@apply pt-4 pb-8 px-4;
				@apply flex items-stretch gap-2;
				@apply overflow-y-hidden overflow-x-auto;
				@include scrollbar.hidden;

				button {
					@apply grow-0 shrink-0;
					@apply h-[200px] aspect-[3/2];
					@apply rounded-md overflow-hidden;

					img {
						@apply w-full h-full object-cover;
					}
				}
			}

			.Actions {
				@apply p-4;
			}

		} // .GallerySection

		.FacilitiesSection {
			@apply py-8;

			h3 {
				@apply pl-8;
				@apply font-semibold text-lg text-stone-800;
			}

			section {
				@apply px-8 py-4;

				h4 {
					@apply px-4;
					@apply font-semibold text-stone-700 leading-[1];
					border-left: 4px solid var(--color-primary);
					font-family: var(--font-serif);
				}

				.List {
					@apply mt-4;
					@apply grid grid-cols-2 row-auto gap-2;

					.ListItem {
						@apply p-2 flex items-center gap-2;
						@apply border border-stone-200 rounded-md;

						.Icon {
							color: var(--color-primary);
						}

						.Value {
							@apply font-semibold text-stone-700 text-sm;
						}

					} // .ListItem

				} // .List

			}

		} // .FacilitiesSection

		.LocationSection {
			@apply px-4 pt-8 pb-8;
			@apply relative z-[1];

			h3 {
				@apply pl-4;
				@apply font-semibold text-lg text-stone-800;
			}

			address {
				@apply px-4;
				@apply not-italic;
				font-family: var(--font-serif);
			}

			.Map {
				@apply my-4 aspect-[3/2] overflow-hidden;
				@apply rounded-md;
			}
			
		} // .LocationSection

		.PolicySection {
			@apply px-8 pt-8 pb-8;
			@apply relative z-[1];

			h3 {
				@apply font-semibold text-lg text-stone-800;
			}

			.PolicyHighlight {
				@apply mt-4;
				@apply grid grid-cols-1 row-auto gap-2;

				.Item {
					@apply p-2 flex items-center gap-2;
					@apply border border-stone-200 rounded-md;
				
					.Icon {
						color: var(--color-primary);
					}
				
					.Text {
						@apply font-semibold text-stone-700 text-sm;
					}

				}
			} // .PolicyHighlight

			.Procedures {
				@apply mt-6 flex flex-col gap-4;

				h4 {
					@apply font-semibold text-stone-700;
				}

				.Text {
					@apply mt-1;
					@apply text-stone-800;
					font-family: var(--font-serif);
				}
			} // .Procedures

		} // .PolicySection

		.PricingSection {
			@apply px-8 pt-8 pb-8;
			@apply relative z-[1];

			h3 {
				@apply font-semibold text-lg text-stone-800;
			}

			.ListingOptions {
				@apply mt-4;

				.Row {
					@apply flex items-center justify-between;
					
					.Label {
						@apply text-stone-600;
						@apply font-medium;
					}
					
					.Value {
						@apply text-stone-800;
						@apply font-semibold;
					}
				} // .Row

			} // .ListingOptions

			.ListingPrice {
				@apply mt-4;

				.Row {
					@apply flex items-center justify-between;
					
					.Label {
						@apply text-stone-600;
						@apply font-medium;
					}
					
					.Value {
						@apply text-stone-800;
						@apply font-semibold;
					}
				} // .Row

			} // .ListingPrice

		} // .PricingSection

		.ReserveSection {
			@apply sticky bottom-0 p-4 z-[1000];
			@apply flex flex-col gap-4;
			@apply border-b-0 border-t border-slate-200 bg-white;

			.Text {
				@apply flex flex-col gap-1;
				@apply text-sm text-stone-600 leading-[1.2] text-center;

				strong {
					@apply text-emerald-400;
				}
			}

			.Actions {
				@apply flex items-stretch gap-2;

				.Book {
					@apply grow shrink;
				}

			}
		} // .ReserveSection

	} // .ListingContent

	// Scrolled Down
	&.ScrolledDown {

		.ListingContent {
			
			.TopSection {
				@apply drop-shadow-md;

				.TitleBar {

					h1.Title {
						@apply max-h-10 py-2 overflow-hidden;
						@apply whitespace-nowrap text-ellipsis leading-[1];
						@apply text-base;
					}

					.Info {
						@apply mt-0 max-h-0 opacity-0;
					}

				} // .TitleBar

			} // .TopSection
			
		} // .ListingContent

	} // &.ScrolledDown

} // .ListingView

.Code {
	@apply p-4;

	pre {
		@apply w-full;
		@apply bg-stone-100;
		@apply overflow-auto;
	}
}